<ion-header>
  <ion-toolbar>
      <ion-button slot="start">
          <ion-back-button></ion-back-button>
        </ion-button>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card>
      <img src="assets/imagenes/usuario2.jpg" />
      <ion-card-header>
        <ion-card-title>Bienvenido: {{username}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
      La app capaz de ser utilizada en que permite que cada alumno registre su propia asistencia.</ion-card-content>
    </ion-card>

</ion-content>