<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AppRegister
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="loginUser()">
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input  type="password"></ion-input>
        </ion-item>
        <br />
        <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <a routerLink="/recuperar">Olvidé mi contraseña</a>

  <ion-list>
    <ion-item *ngFor="let usuario of myUsuarios">
      <ion-label>id:{{usuario.id}}</ion-label>
      <ion-label>usuario:{{usuario.correo}}</ion-label>
      <ion-label>contraseña:{{usuario.password}}</ion-label>
      <ion-label>activoBool:{{usuario.id}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>




<ion-footer>
  <ion-toolbar>
    <ion-title>App Register </ion-title>
    <p>todos los derechos reservados</p>
  </ion-toolbar>
</ion-footer>