<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Botones para cambiar entre los formularios -->
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="login">
      <ion-label>Logear Usuario</ion-label>
    </ion-segment-button>
    <ion-segment-button value="crear">
      <ion-label>Crear Usuario</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Formulario de inicio de sesión -->
  <form *ngIf="segment === 'login'" (ngSubmit)="loginUser()">
    <H1>Ingrese sus datos de inicio de sesion:</H1>
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button color="medium" expand="full" type="submit">Ingresar Usuario</ion-button>
    </form>

    <!-- Formulario de creación de usuario -->
    <form *ngIf="segment === 'crear'" (ngSubmit)="crearNuevoUsuario()">
      <H1>Registrar Usuario:</H1>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="nuevoUsuario.correo" name="correo" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="nuevoUsuario.password" name="password" type="password" required></ion-input>
      </ion-item>

      <ion-button color="medium" expand="full" type="submit">Crear Usuario</ion-button>
    </form>

    <ion-card>
      <ion-card-header color="medium">
        <ion-card-title>Usuarios:</ion-card-title>
      </ion-card-header>
      <ion-list *ngIf="myUsuarios.length > 0">
        <ion-item *ngFor="let usuario of myUsuarios">
          <ion-label>id:{{usuario.id}}</ion-label>
          <ion-label>usuario:{{usuario.correo}}</ion-label>
          <ion-label>contraseña:{{usuario.password}}</ion-label>
          <ion-label>activoBool:{{usuario.id}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <!-- Lista de usuarios -->

</ion-content>