<ion-header>
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="myUsuarios">
    <ion-item *ngFor="let usuario of myUsuarios">
      {{ usuario.correo }}
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="nuevoUsuario.correo" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="nuevoUsuario.password" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="crearNuevoUsuario()">Crear Usuario</ion-button>

  <ion-list>
    <ion-item *ngFor="let usuario of myUsuarios">
      <ion-label>id:{{usuario.id}}</ion-label>
      <ion-label>usuario:{{usuario.correo}}</ion-label>
      <ion-label>contraseña:{{usuario.password}}</ion-label>
      <ion-label>activoBool:{{usuario.id}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>